@import '../../../styles/colors';
@import '../../../styles/buttons';
@import '../../../styles/fonts';
@import '../../../styles/container';
@import '../../../styles/keyframes';

.categories-container {
  background-color: $white;
  height: 340px;
  width: 300px;
}

.categories {
  li {
    padding: 1%;
    text-align: left;
  }

  button {
    @include reset-button(1.2em);
    color: $base;
  }
  }
