@import '../../../styles/colors';
@import '../../../styles/buttons';
@import '../../../styles/fonts';
@import '../../../styles/container';
@import '../../../styles/keyframes';

.outer-container {
  background-color: $white;
  display: flex;
  flex: 1 0 auto;
  flex-flow: row wrap;
  height: 30px;
  margin: 0;
  padding: 5px;
  position: fixed;
  width: 100%;
}

span {
  font-size: 1.2em;
  font-weight: 400;
  margin: 0 5px;
  padding: 0;
}

.breadcrumbs-container {
  flex: 1;
  display: flex;
  justify-content: center;

  img {
    height: 20px;
    width: 20px;
  }
}

.breadcrumbs-trail-container {
  flex: 1;
  display: flex;
  justify-content: flex-start;

  img {
    height: 20px;
    width: 20px;
  }
}
@media only screen
and (max-width: 667px)
and (orientation: portrait) {
  span {
    font-size: 1em;
  }
}
