@import '../../../styles/colors';
@import '../../../styles/buttons';
@import '../../../styles/fonts';
@import '../../../styles/container';
@import '../../../styles/keyframes';

.outer-container {
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  flex: 1 0 auto;
  padding: 5px;
  width: 100%;
  height: 40px;
  margin-bottom: 5px;
}
.cat-btn {
  @include reset-button(1.2em);
  color: $blue;
  font-weight: 500;
  padding-bottom: 8px;
  &:hover {
    text-decoration:underline;
  }
}

.tag {
  font-size: 1.2em;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.breadcrumbs-container {
  flex:1;
  display: flex;
  justify-content: center;
}
.breadcrumbs-trail-container {
  flex:1;
  display: flex;
  justify-content:flex-start;
}
@media only screen
and (max-width: 667px)
and (orientation: portrait) {
  // .outer-container {
  //   height: 60px;
  // }

  .cat-btn,
  .tag {
    font-size: 1em;
  }

//   .breadcrumbs-container {
//     align-items: center;
//     display: flex;
//     flex: 1;
//     flex-flow: column nowrap;
// }
//
//   .breadcrumbs-trail-container {
//     align-items: flex-start;
//     display: flex;
//     flex: 1;
//     flex-flow: column nowrap;
//     font-size: 1em;
//   }

}
