@import '../../../styles/colors';
@import '../../../styles/buttons';
@import '../../../styles/fonts';
@import '../../../styles/container';
@import '../../../styles/keyframes';

.tags-filter-menu {
  background-color: white;
  display: flex;
  height: auto;
  padding: 50px 5px 5px;
  width: 280px;

  form {
    flex: 1;
  }
}

.filter-by-tags {
  span,
  label,
  input {
    margin: 0;
  }
}
