@import '../../../styles/colors';
@import '../../../styles/buttons';
@import '../../../styles/fonts';
@import '../../../styles/container';
@import '../../../styles/keyframes';

.outer-container {
  height: 100%;
  width: 100%;
}

.form-container-services {
  @extend %formContainer;
  width: 80%;
  margin: 80px auto 0 auto;
}
