@import '../../../styles/colors';
@import '../../../styles/buttons';
@import '../../../styles/fonts';
@import '../../../styles/container';
@import '../../../styles/keyframes';

// Service
ul {
  list-style-type: none;
}

.service-container {
  display: flex;
  width: 100%;
  height: 100%;
  border: solid 1px $base;
  margin-bottom: 5px;
}

.service-info {
  flex:1;
  display: flex;
  border-right: solid 1px $base;
  padding: 0.5em;
}
.service-contact{
  flex:1;
  height: 100%;
  padding: 0.5em;
}
p.required, span.required {
  margin: 0;
  padding: 0;
  color: red;
  text-align: right;
}

.menuBtn {
  padding: 0 5px 0 5px;
}
.service {
  .description {
    text-align: justify;
  }
  li {
    padding: 0.25rem;
    color: black;
  }
}
.liFlex{
  display: flex;
  flex-flow: row wrap;
  justify-content:space-around;
}
.service-heading {
  @extend .liFlex;
  background-color: lighten($base, 40%);
  border-radius: 5px;
  img {
    width: 100px;
    height: 50px;
    margin: auto 0;
  }
  h3 {
  color: darken($base, 10%);
}
}
.contact-details {
  li {
    padding: 5px;
    color: black;
  }
  h3{
    margin:0;
    padding:0;
    width:100%;
    color: $base;
    text-align: center;
  }
}
.centerText{
  text-align: center;
}

@media only screen
and (max-width: 667px)
and (orientation: portrait) {
  .service-container {
    display: flex;
    flex-flow: column;
  }

  .service-info {
    border-bottom: solid 1px $base;
  }
  }
