@import '../../../styles/colors';
@import '../../../styles/buttons';
@import '../../../styles/fonts';
@import '../../../styles/container';
@import '../../../styles/keyframes';

.outer-container {
  // flex child - column
  width: 100%;
  flex: 1 1 100%;
  padding-top: 2%;
}

.form-container-services {
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

.message {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 2000;
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@media only screen
  and (max-width: 667px)
  and (orientation: portrait) {
    .form-container-services {
      width: 100%;
    }
}

// @media only screen
// and (min-device-width: 414px)
// and (max-device-width: 736px)
// and (orientation: landscape) {
//   .form-container-services {
//     width: 100%;
//   }
// }
