@import '../../styles/colors';
@import '../../styles/buttons';
@import '../../styles/fonts';
@import '../../styles/container';

.simple-container {
  @extend %container;
}

.fixed-header {
  background: $white;
  height: 50px;
  left: 0;
  position: fixed;
  top: 60px;
  width: 100%;
}

.outer-container {
  // flex child - column
  flex: 1 1 100%;
  padding-top: 2%;
  width: 100%;
}

.faq-box {
  @extend %outer-box;
  // flex container - column
}

.form-container-faq {
  background-color: lighten($brown, 30%);
  border: $brown solid 2px;
  border-radius: 5px;
  color: darken($brown, 20%);
  font-family: $text;
  margin: 0 auto;
  padding: 0 0 2.5%;
  width: 80%;

  form {
    background-color: $white;
    border-radius: 5px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 5px;
    width: 90%;
    }

  legend {
    font-size: 1.3em;
    font-weight: 400;
    text-align: center;
  }
}

.form-row {
  display: flex;
  margin: 1em;

  label {
    display: flex;
    flex: 1;
    flex-flow: column;
    font-size: 1.2em;
    padding-bottom: 5px;
  }

  input,
  textarea {
    display: block;
    flex: 1;
    font-size: 1em;
    padding: 5px;
  }

  span {
    color: $red;
    font-size: 1em;
  }
}

ul {
  margin: 0;
  padding: 0;
}

.li-heading {
  font-size: 1.3em;
  font-weight: bold;

  hr {
    background: $base;
    border: 0;
    color: $base;
    font-size: 0;
    height: 1px;
  }
}

.li-answer {
  color: $black;
  font-size: 1.1em;
}

.questions {
  background-color: lighten($base, 40%);
  border: $base solid 2px;
  border-radius: 5px;
  color: darken($base, 10%);
  margin-top: 50px;
  padding: 10px;
  width: 80%;

  ul {
    background-color: $white;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  li {
    list-style-type: none;
    padding: 5px;
  }
}

// iPhone 6, 6S, 7 and 8
@media only screen
and (max-width: 667px)
and (orientation: portrait) {

  .form-container-faq {
    width: 100%;
  }

  .questions {
    width: 100%;
  }
  }
