@import "../../styles/colors";
@import "../../styles/fonts";
@import "../../styles/buttons";
.addBtn{
  flex: 4;
  padding-right: 5px;
    button{
      float: right;
    @include reset-button(1.5em);
    height: 24px;
    width: 24px;
    background: center no-repeat;
    background-size: contain;
    background-image: url('./../../images/post.png');
  }
}
.closebtn {
  flex: 0 1 auto;
  display: flex;
  justify-content: flex-end;
  button {
  @include reset-button(1.5em);
}
}
.notFound{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: red;
}
.errorText {
  color: red;
  padding: 0;
  margin: 0;
}
.successMsg{
  padding: 5px;
  background-color: $yellow;
  color: $white;
  border-radius: 5px;
  text-align: center;
}
