@import '../../../styles/colors';
@import '../../../styles/buttons';
@import '../../../styles/fonts';
@import '../../../styles/container';
@import '../../../styles/keyframes';

.btn-div {
  flex: 1;
  display: flex;
  width: 120px;
  height: 35px;
  margin-left: 10px;
  p{
    margin: 0;
    padding: 0;
    order: 2;
  }
  button {
    @include reset-button(1.2em);
    height: 30px;
    width: 30px;
    margin-right:5px;
    outline: none;
    order: 1;
}
img {
  height: 24px;
  width: 24px;
}
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
    }

  to {
    opacity: 1;
    visibility: visible;
}
}
@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
    }

  to {
    opacity: 0;
    visibility: hidden;
}
}
