@import '../../../styles/colors';
@import '../../../styles/buttons';
@import '../../../styles/fonts';
@import '../../../styles/container';
@import '../../../styles/keyframes';

.btn-div {
  flex: 1;
  display: flex;
  width: 120px;
  height: 35px;
  margin-left: 10px;
  p{
    margin: 0;
    padding: 0;
    order: 1;
  }
  button {
    @include reset-button(1.2em);
    height: 30px;
    width: 30px;
    margin-left: 5px;
    outline: none;
    order: 2;
}
img {
  height: 24px;
  width: 24px;
}
}

@media only screen
and (max-width: 667px)
and (orientation: portrait) {
  .btn-div {
    p {
      display: none;
      }
    }
  }
