@import '../../../styles/colors';
@import '../../../styles/fonts';
@import '../../../styles/buttons';

.close-btn {
  display: flex;
  justify-content: flex-end;
  padding: 0 5px;
  width: 100%;

  button {
    @include reset-button(1.5em);
}
}

.notFound {
  align-items: center;
  color: $red;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.errorText {
  background-color: $red;
  border-radius: 5px;
  color: $white;
  padding: 5px;
  margin: 0;
  text-align: center;
}
.successMsg{
  padding: 5px;
  background-color: $blue;
  color: $white;
  border-radius: 5px;
  text-align: center;
}
