@import "../../../styles/colors";
@import "../../../styles/buttons";
@import "../../../styles/fonts";
@import "../../../styles/container";
@import "../../../styles/keyframes";

.subtitle {
  font-size: 1.2em;
  font-weight: 900;
  margin: 0;
  padding: 0;
}
@media only screen
  and (max-width: 667px)
  and (orientation: portrait) {
    .subtitle {
      font-size: 1em;
    }
}
