%container {
  height: 100%;
  width: 100%;
}
%outer-box {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
%formContainer {
  min-width: 50%;
  font-family: $text;
  border: $brown solid 2px;
  border-radius: 5px;
  color: darken($brown, 20%);
  background-color: lighten($brown, 30%);
  margin-top: 1em;
  padding: 0 1em 1em 1em;
}
%transparent-bg{
  position: absolute;
  top: 100px; // so does not cover the header and breadcrumbs
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.3);
}
%inner-container {
  width: 80%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
